@mixin telefono {
    @media (min-width:$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:$tablet) {
        @content;
    }
}

@mixin navegador {
    @media (min-width:$desktop) {
        @content;
    }
}

@mixin grid($columnas, $espacio) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}